* {
    margin: 0;
    padding: 0;
    font-family: Lato;
}

.header {
    background-color: #ffffff;
}

.header-separator {
    border-bottom: 1px solid #ececec;
}

.header-container {
    margin: 0 auto;
    width: 1140px;
}

.logo-link {
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
}

.header-link {
    height: 36px;
    border: 1px solid #e6e6e6;
    border-right: none;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    position: relative;
}

.header-link-top {
    display: block;
    padding: 0 23px 0 15px;
    line-height: 36px;
    color: #222222;
    font-size: 14px;
    text-align: right;
    text-decoration: none;
    background-image:
        linear-gradient(45deg, transparent 50%, #838383 50%),
        linear-gradient(135deg, #838383 50%, transparent 50%);
    background-position:
        calc(100% - 12px) calc(1em + 2px),
        calc(100% - 7px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.header-link:hover .browse-box {
    display: flex;
    flex-direction: column;
}

.browse-box {
    display: none;
    padding: 19px 13px 14px 13px;
    border-radius: 5px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    z-index: 1;
}

.browse-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    top: -9px;
    left: 59px;
    transform: rotate(
45deg
);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.dropdown-head-bottom {
    margin-top: 16px;
}

.input {
    width: 247px;
    height: 36px;
    padding: 0 16px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.logo__header {
    height: 19px;
    margin: 0 37px 0 13px;
    color: #222222;
    font-family: Lato;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.logo__header span {
    color:#f16d7f;
    font-weight: 700;
}

.header-cart{
    padding: 20px;
    position: relative;
    cursor: pointer;
}

.cart-link {
    width: 32px;
    height: 29px;
    display: block;
    background-image: url(img/cart.svg);
    background-repeat: no-repeat;
}

.header-cart:hover .header-cart-box {
    display: flex;
    flex-direction: column;
}

.header-cart-box {
    display: none;
    margin-left: -50px;
    margin-top: 16px;
    padding: 0 15px 20px 17px;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ededed;
    z-index: 1;
}

.header-cart-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    top: -9px;
    left: 59px;
    transform: rotate(
45deg
);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.cart-box-produkt {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;

}

.cart-box-flex {
    padding-left: 14px;
    padding-top: 10px;
    padding-right: 55px;
    display: flex;
    flex-direction: column;
}

.cart-box-link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
}

.cart-box-stars {
    margin-top: 10px;
}

.cart-box-text {
    margin-top: 12px;
    color: #f16d7f;
    font-size: 12px;
    font-weight: 400;
}

.deletion-btn {
    margin-top: 35px;
    width: 15px;
    height: 15px;
    float: right;
    cursor:pointer;
    color: #fff;
    border: none;
    border-radius: 30px;
    background:#c0c0c0;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
 
}

.deletion-btn:before {
    content: "×";
}

.border-cart {
    margin-top: 16px;
    border-bottom: 1px solid #e8e8e8;
}

.cart-box-amount {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.cart-box-btn {
    margin-top: 32px;
    padding: 19px 74px;
    border: 1px solid #f16d7f;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
}
.cart-box-btn:last-of-type{
    margin-top: 11px;
    padding: 20px 72px;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
}

.my-acc {
    display: block;
    margin-left: 6px;
    padding: 10px 29px 10px 19px;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    text-decoration: none;
    background-color: #f16d7f;
    background-image:
        linear-gradient(45deg, transparent 50%, #fff 50%),
        linear-gradient(135deg, #fff 50%, transparent 50%);
    background-position:
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 10px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

button.search-btn {
    background: url("./img/but.png") no-repeat center;
    padding: 18px 17px;
    border: 1px solid #e6e6e6;
    border-left: none;
}

.container {
    padding: 0 225px;
    color:#222222;
    font-size: 14px;
    font-weight: 700;
}


.menu {
    height: 51px;
    background-color: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    padding: 20px;
    list-style-type: none;
    position: relative;
}

.menu-list:hover .dropdown-box {
    display: flex;
}

.menu-link{
    color: #222222;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-link:hover {
    color: #f16d7f;
}

.dropdown-box {
    height: 290px;
    display: none;
    margin-top: 12px;
    border-radius: 5px;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 20px;
    margin-left: -26px;   
}

.dropdown-box::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    top: -9px;
    left: 59px;
    transform: rotate(45deg);
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.dropdown-flex {
    margin-right: 45px;
}

.dropdown-flex:last-of-type {
    margin-right: 0;
}

.dropdown-head {
    padding-bottom: 8px;
    margin-bottom: 8px;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 235px;
    border-bottom: 1px solid #e8e8e8;
}
.dropdown-head:nth-child(3) {
    margin-top: 37px;
} 

.dropdown-list {
    list-style-type: none;
}

.dropdown-link {
    display: block;
    line-height: 28px;
    text-decoration: none;
    color: #646464;
    font-size: 14px;
    font-weight: 400;

}

.dropdown-link:hover {
    color: #f16d7f;
}

.dropdown-img {
    margin-top: 22px;
    margin-left: -14px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    position: relative;
}

.dropdown-text {
    position: absolute;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 61px;
    margin-right: 10px;
}

.content {
     height: 613px;
     background-color: #e8e8e8;
}

.content-container {
    width: 1140px;
    margin: 0 auto;
}

.content-flex {
    display: flex;
    justify-content: space-between;
}

.slogan {
    color: #222222;
    display: flex;
    padding-top: 224px;
}

.slogan-text{
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
}
.slogan-brand-text {
    font-size: 60px;
    letter-spacing: 1.5px;
}
.slogan-fashion-text{
    color: #f16d7f;
}

.rectangle{
    width: 12px;
    height: 98px;
    margin: 15px 12px 0 0;
    background-color: #f16d7f;
}

.page-container {
    width: 1140px;
    margin: 98px auto 0;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card:nth-child(2) {
    margin-top: 16px;
}

.card {
    position: relative;
    display: block;
    cursor: pointer;
}

.card-text {
    position: absolute;
    top: 26px;
    font-size: 18px;
    color: #222222;
    text-transform: uppercase;
    background-color: #fff;
}

.card-text span {
    font-size: 30px;
    color: #f16d7f;
}

.title {
    margin-top: 100px;
    text-align: center;
}

.title h1 {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.title p {
    font-size: 14px;
    font-weight: 400;
    color: #9f9f9f;
}

.product-cards {
    margin-top: 60px;
    display: flex;
    flex-flow: column wrap;
}

.product-row {
    display: flex;
    justify-content: space-between;
}
.product-row:nth-child(2) {
    margin-top: 39px;
}

.product {
    position: relative;
    padding-bottom: 21px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.product img {
    width: 263px;
    height: 281px;
}

.product-text {
    margin-top: 20px;
    margin-left: 14px;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-text span {
    margin-top: 17px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.product-add-to-cart {
    position: absolute;
    display: none;
    width: 263px;
    height: 281px;
    background-color: rgba(58, 56, 56, 0.85);
    

    
}

.product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.product:hover .product-add-to-cart {
    display: block;
}

.product-add-to-cart-btn {
    margin-top: 98px;
    margin-left: 70px;
    padding: 15px 13px 14px 45px;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #ffffff;
    background: none;
    color: #ffffff;
    background-image: url(img/product-cart.svg);
    background-repeat: no-repeat;
    background-position: top 10px left 12px;
}

.browse-all-produckt {
    display: flex;
    justify-content: center;
}
.browse-all-produckt-btn {
    margin-top: 79px;
    text-align: center;
    padding: 18px 0 19px 24px ;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background-color: #f16d7f;
    border: none;
}

.arrow-btn {
padding: 21px  19px 20px 9px ;
}

.sale-card {
    margin-top: 113px ;
    height: 529px;
    position: relative;
}

.card-sale-content {
    display: flex;
}

.sale-card-text {
    background-color: #222224;
}

.sale-text {
    position: absolute;
    top: 130px;
    left: 39px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.sale-text-top {
    font-size: 54px;
}

.sale-text-top span {
    color: #f16d7f
}

.sale-text-bottom {
    font-size: 32px
}

.sale-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 43px 66px 36px;
}

.sale-card-item {
    padding-top: 7px;
    padding-left: 75px;
    background-repeat: no-repeat;
}

.sale-card-item:nth-child(1) {
    background-image: url(img/car.svg);
}

.sale-card-item:nth-child(2) {
    background-image: url(img/percent.svg);
}

.sale-card-item:nth-child(3) {
    background-image: url(img/crown.svg);
}

.sale-card-item-title {
    color: #fbfbfb;
    font-size: 20px;
    font-weight: 700;
}

.sale-card-item-paragraph {
    margin-top: 17px;
    color: #fbfbfb;
    font-size: 14px;
    font-weight: 300;
}

.subscribe-block {
    margin-top: 97px;
    background-image: url(img/subscribe-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
.subscribe-block-background {
    background-color: rgba(242, 242, 242, 0.3);
}

.subscribe-block-content {
    width: 1140px;
    height: 438px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subscribe-block-left {
    display: flex;
    flex-basis: 50%;
}

.subscribe-block-left-avatar {
    padding-top: 111px;
}

.subscribe-text {
    margin-top: 123px;
    margin-left: 28px;
}
.subscribe-text-slogan {
    color: #222224;
    font-size: 16px;
    font-style: italic;
    margin-right: 61px;
}

.subscribe-text-name {
    margin-top: 19px;
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.subscribe-text-span {
    color: #222224;
    font-size: 12px;
    font-weight: 700;
}

.subscribe-text-rectangle {
    display: flex;
    margin-top: 41px;
}

.subscribe-rectangle {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    border: none;
}

.subscribe-rectangle:nth-child(2) {
    margin-left: 13px;
    margin-right: 13px;
    background-color: #f16d7f;
}

.subscribe-block-background-line {
    width: 1px;
    background-color: #ffffff;
}

.subscribe-block-right {
    flex-basis: 50%;
    text-align: center;
    margin-top: 148px;
}

.subscribe-block-right-text-title {
    color: #222224;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.subscribe-block-right-text-title-mini {
    font-size: 14px;
}

.subscribe-block-input {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.subscribe-input {
    width: 282px;
    height: 46px;
    padding-left:28px;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    border: none;
    color: #222224;
    font-size: 14px;
    font-weight: 700;
}

.subscribe-button {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    
}

.footer-container {
    width: 1140px;
    margin: 0 auto;
    padding: 109px 0 89px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-logo-content {
    width: 408px;
}

.footer-logo {
    display: flex;
}

.footer-logo-content-text {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
}

.footer-logo-content-text p:nth-child(2) {
    margin-top: 40px;
}

.logo__footer {
    height: 19px;
    margin: 20px 0 0 13px;
    color: #222222;
    font-family: Lato;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
}

.logo__footer span {
    color:#f16d7f;
    font-weight: 700;
}


.footer-list {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    width: 608px;
}

.title-item {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
}

.items-links {
    margin-top: 45px;
}

.item {
    margin-top: 20px;
    list-style-type: none;
}
.item:first-child {
    margin-top: 0;
}

.item-link {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.footer-bottom {
    height: 79px;
    background-color: #e6e6e6;
}

.footer-bottom-container {
    width: 1140px;
    margin: 0 auto;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin-top: 33px;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.footer-copyright-links{
    display: flex;
    justify-content: space-between;
}

.footer-link {
    margin-top: 24px;
    display: block; 
    margin-right: 8px ;
    width: 32px; 
    height: 32px; 
    background-color: #ffffff;
    background-image: url(img/face.png);
    background-repeat: no-repeat;
    background-position: center;
}


.footer-link:nth-child(2) {
    background-color: #f16d7f;
    background-image: url(img/twit.png);
   
}

.footer-link:nth-child(3) {
    background-image: url(img/in.png);
   
}

.footer-link:nth-child(4) {
    background-image: url(img/pin.png);
}

.footer-link:nth-child(5) {
    background-image: url(img/google.png);
    margin-right: 0;
}

.header-navigation {
    margin-top: 22px;
    height: 148px;
    background-color: #f8f3f4;
}

.header-navigation-box {
    margin: 0 auto;
    width: 1141px;
    display: flex;
    justify-content: space-between;
}

.big-link-box {
    margin-top: 65px;
}

.header-navigation-big-link {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.tiny-link-box {
    margin-top: 69px;
}

.header-navigation-tiny-link {
    color: #636363;  
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none; 
}

.header-navigation-tiny-link:last-of-type {
    color: #f16d7f;
    font-weight: 700;
}

.product-page-container {
    height: 777px;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
}

.product-page-photo {
    display: flex;
    justify-content: center;
}

.product-page {
    margin: 0 auto;
    margin-top: -107px;
    width: 1141px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    z-index: 1;
}

.product-page-card {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-page-card-link {
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.product-page-card-block {
    display: flex;
    justify-content: center;
    margin-top: 14px;

}

.product-page-card-rectangle {
    width: 42px;
    height: 1px;
    background-color: #eaeaea;
}

.product-page-card-rectangle:nth-child(2) {
    width: 63px;
    height: 3px;
    background-color: #ef5b70;
    border: none;
}

.product-page-card-content {
    width: 642px;
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.product-page-card-title {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.product-page-card-text {
    padding-top: 67px;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.product-page-card-lineament {
    margin-top: 28px;
    display: flex;
    justify-content: center;
}

.lineament {
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase
}

.lineament span {
    color: #2f2f2f;
}

.lineament:nth-child(2) {
    padding-left: 44px;
}

.product-page-card-price {
    margin-top: 37px;
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.product-page-card-line {
    margin-top: 43px;
    width: 642px;
    height: 1px;
    background-color: #eaeaea;
    border: none;
}


.product-feature-box {
    margin-top: 63px;
    width: 537px;
    display: flex;
    justify-content: center;
}

.product-feature {
    margin-right: 90px;
}
.product-feature:last-of-type {
    margin-right: 0;
}

.product-feature-heading {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.feature {
    height: 35px;
    width: 121px;
    padding: 0 9px 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

.feature-text {
    flex-basis: 70%;
    color: #bcbcbc;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

.square {
    width: 12px;
    height: 12px;
    background-color: #ef5b70;
}

.feature-button-box {
    margin-bottom: 15px;
}

.feature-button {
    border: solid #bcbcbc;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    background-color: #ffffff;
    border-radius: 2px;
}

.product-page-cart-btn {
    margin-bottom: 122px;
    margin-top: 28px;
    padding: 22px 206px 22px 248px;
    border: 1px solid #ef5b70;
    background-color: #ffffff;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 700;
    background-image: url(img/cart-pink.svg);
    background-repeat: no-repeat;
    background-position: top 16px left 207px ;
}

.other-product-box {
    margin: 0 auto;
    margin-top: 119px;
    width: 1141px;
}

.other-product-heading {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}
.other-product-box .product-row {
    margin-top: 72px;
}

.other-product-box .product img {
    width: 261px;
    height: 280px;  
}

.other-product-box .product-add-to-cart {
  width: 261px;
  height: 280px;
}

